.postContainer{
    width: 50%;
    margin-top: 2%;
    margin-bottom: 2%;
    .interactionButton{
       &:hover{
            cursor:pointer;
       }
    }
    .commentSection{
        display: none;
    }
    .postOwnerLink{
        text-decoration: none;
        color: black;
    }
    .PostBody{
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 0%;
        padding-bottom: 0%;
        &:hover{
            cursor: pointer;
        }
    }
    .readMoreButton{
        &:hover{
            cursor: pointer;
        }
    }

    .postHeader{
        display: inline;
     }
     .DeletePostBtn{
         &:hover{
             cursor: pointer; 
         }
         margin-left: 90%;
         color: red;
     }
}